.preview{ 
    height: 90vh;
}
.reverse{ 
    position: absolute;
    height: 50px;
    background: none;
    border: none;
    top: 10px;
    right: 10px;
    color: #766032;
}
#inner-circle {
    background: #766032;
}
#outer-circle { 
    background: rgb(230, 221, 220);
}