.cameraArea{ 
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}
.reverse, .gall, .gallHome{ 
    position: absolute;
    height: 50px;
    background: rgb(230, 221, 220);
    border-radius: 25px;
    border: none;
    top: 10px;
    /* right: 10px; */
    color: #766032;
}
.gallHome{
    right: 45vw;
}
.reverse{
    right: 10px;
}
.gallNav{
    position: fixed;
}
.gall{
    left: 10px;
}
.gallHomeRight, .gallHomeLeft {
    position: absolute;
    height: 50px;
    width: 50px;
    background: rgb(230, 221, 220);
    border: none;
    top: 0px;
    color: #766032;
    border-radius: 25px;
}
.gallHomeRight{
    right: -94vw;
}
.gallHomeLeft{
    left: 2vw;
}
#inner-circle {
    background: #766032;
}
#outer-circle { 
    background: rgb(230, 221, 220);
}
.filter-vintage {
    filter: sepia(0.4) contrast(1.2) brightness(0.9) saturate(1.5);
}
@media (orientation: portrait) {
    .react-html5-camera-photo>video,
    .react-html5-camera-photo>img {
        width: 100%;
        height: 100%;
    }
}

@media (orientation: landscape) {
    .react-html5-camera-photo>video,
    .react-html5-camera-photo>img {
        width: 100%;
        height: 75vh;
    }
}