.container{
    display: flex;
    flex-wrap: wrap;
}
.rowDiv{
    flex: 1 0 33.33%;
    padding: 8px;
    box-sizing: border-box;
}
.gallery{
    width: 100%;
}
.fullscreen-image{
    width: 96vw;
    height: 100vh;
    object-fit: contain;
}
.fullscreen-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(230, 221, 220, 0.8);
}