html{
    font-family: 'Montserrat',sans-serif;
    color: #766032;
    background-color: rgb(230, 221, 220);
}
h1{
    font-size: 70px;
    font-family: 'Snell Roundhand', 'cursive';
    margin: -15px;
    position: relative;
    top: 0%;
}
.login.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  
  .inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .btn {
    margin-top: 15px;
    background-color: #766032;
    color: rgb(230, 221, 220);
    border-radius: 5px;
    width: 40vw;
    font-size: 18px;
  }
  .btn:hover{
    background-color: rgb(230, 221, 220);
    color: #766032;
    border: 2px solid #766032;
  }
  .form-control{
    margin: 10px;
    background-color: transparent;
    color: #766032;
    padding: 5px;
    text-align: center;
    border: 2px solid #766032;
    border-radius: 5px;
    width: 60vw;
    height: 3vh;
  }
  .form-control::placeholder{
    text-align: center;
  }
.about{
  text-align: center;
  position: relative;
  top: -2vh;
}